<!DOCTYPE html>
<html>
  <head>
    <title>PcBuilder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid" style="background-color: tomato">
        <div>
          <h1>PC builder</h1>
        </div>

      </div>
    </header>

    <%= yield %>

    <footer>

    </footer>
  </body>
</html>
